<p id="notice"><%= notice %></p>

<div class="container">
<h1>BratCamp Registered Participants</h1>


<table style="width:100%">
  <thead>
    <tr>
      <th>Child's Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Allergies</th>
      <th>Parent Name</th>
      <th>Parent's Email</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.age %></td>
        <td><%= participant.sex %></td>
        <td><%= participant.allergies %></td>
        <td><%= participant.parent %></td>
        <td><%= participant.parentemail %></td>
        <td><%= participant.notes %></td>
        <td><%= link_to 'Edit Participant', edit_participant_path(participant) %></td>
        <td><%= link_to 'Delete Participant', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Participant', new_participant_path %>
</div>
