<p id="notice"><%= notice %></p>

<div class="containerb" align="center">
    <img src="http://eyslakemary.com/wp-content/uploads/2015/07/four-kids-asp-page.png" alt="Snow" style="width:100%;">
    <div id="regcentered">
        
      <div id="loginForm">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Please review your registraiton information.</h2>
           </div>
             <div class="panel-body">
                <div>
                  <strong>Child's Name:    </strong>
                    <%= @participant.name %>
                </div>
                <div >
                  <strong>Child's Age:    </strong>
                   <%= @participant.age %>
                </div>
                <div>
                  <strong>Child's Sex:    </strong>
                  <%= @participant.sex %>
                </div>
                <div>
                  <strong>Child's Allergies:    </strong>
                  <%= @participant.allergies %>
                </div>
                <div>
                    <strong>Parent Name:    </strong>
                    <%= @participant.parent %>
                </div>
                <div>
                  <strong>Parent's Email:    </strong>
                  <%= @participant.parentemail %>
                </div>
                <div>
                    <strong>Notes:</strong>
                    <%= @participant.notes %>
                </div>
                <div>
                  <br><p><%= link_to "Return To Home", root_path %><br>
                  <%= link_to "Change information", edit_participant_path(@participant) %> <br />|
                  
                </div>
             </div>
          </div>
      </div>
    </div>
</div>


