
<div class="jumbotron2">
  <div class="containerc">
    
      <h1>Meet our Camp Counselors!</h1>
  
  </div>
</div>

<div class="well-lg"  style="background-color: white; margin-top: -30px;">

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag("jennie.jpg")%>
      <div class="caption">
        <h3>Meet<em> Jenny</em></h3>
        <p>Jenny has been a counselor for 2 years and is a certified swim instructor. She is our go-to resource for any of our campers who need a little extra attention. </p>
     
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
     <%= image_tag("brad.jpg")%>
      <div class="caption">
        <h3>Meet <em>Brad</em></h3>
        <p>Brad is one of our senior camp counselors and leads instruction of camp fire skills and safety as well as our water sports programs. He is a certified life guard and swimming instructor.</p>
     
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
     <%= image_tag("megan2.jpg")%>
      <div class="caption">
        <h3>Meet <em>Megan</em></h3>
        <p>Megan is a newer camp counselor with lots of energy and is in charge of planning and leading all kinds of games for our campers. She is our horseback riding expert and guide.</p>
     
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag("callie.jpg")%>
      <div class="caption">
        <h3>Meet <em>Callie</em></h3>
        <p>Miranda has been with us for 3 years and manages all of the camper's housing needs as well as planning camp meals and leading the kids in meal preparation. She is also a certified life guard.</p>
     
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
     <%= image_tag("michael2.jpg")%>
      <div class="caption">
        <h3>Meet <em>Michael</em></h3>
        <p>Michael is our camp naturalist and hiking guide. He instructs the campers on wilderness skills training and survival skills as well as bow-making and flintknapping.</p>
     
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
     <%= image_tag("girl.jpg")%>
      <div class="caption">
        <h3>Meet <em>Nicole</em></h3>
        <p>Nicole instructs our campers on first aid skills and leads our archery program. She is also one of our camp naturalists specializing in entomology and botany.</p>
     
      </div>
    </div>
  </div>
</div>

</div>
