<div class="jumbotron">
  <div class="container">
  <h2 class="divb">BratCamp has so many great activities for your kids!</h2>
  </div>
</div>
<div class="well-lg"  style="background-color: #18b4e0; margin-top: -30px;">
  <div class="row"> 
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
      <h3 style="text-align: center;">Take a look at all the exciting experiences your child will encounter! All activities are led by expertly trained camp leaders to ensure each and every child feels empowered and successful! </h3>
    </div>
    <div class="col-md-1"></div>
  </div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag("campfire.jpg")%>
      <div class="caption">
        <h3>Camp Fire Skills</h3>
        <p>We teach fire safety skills along with all of our camp fire activities including proper setting, cooking and extinguishing.</p>
        <p>Counselor Jenny leads all of our fire safety instruction.</p>
        <p><%= link_to "Meet Jenny", about_path, target: "_blank", :class => "btn btn-default" %> </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <%= image_tag("canoeing.JPG") %>
      <div class="caption">
        <h3>Water Skills & Safety</h3>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. </p>
        <p><%= link_to "Meet Jenny", about_path, target: "_blank", :class => "btn btn-default" %> </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("naturehike.jpg") %>
      <div class="caption">
        <h3>Nature Hikes & Navigation Skills</h3>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
        <p><%= link_to "Meet Jenny", about_path, target: "_blank", :class => "btn btn-default" %> </p>
      </div>
    </div>
  </div>
</div>

</div>